:root {
    /* CSS HEX */
    --imperial-red: #ef233c;
    --honeydew: #f1faeeff;
    --powder-blue: #a8dadcff;
    --leaf: #6b705c;
    --darker-green: #4f772d;
    --green: #b5c99a;
    --light-green: #cfe1b9;
}

#content_title h1{
    font-family: 'Libre Bodoni', serif;
    font-size: 70px;
    margin-left: 4%;
    color: var(--darker-green);
}


#content_body, #content_title h3{
    padding: 0px 40px 20px;
}

#content_title h3{
    font-family: 'Libre Bodoni', serif;
    font-size: xx-large;
    color: var(--darker-green);
    padding-bottom: 1rem;
}
#content_body h4{
    font-size: xx-large;
}
#content_body{
    padding: 0px 120px;
}

#content_body p{
    font-size: large;
}
.questions{
    font-size: x-large;
    padding: 0px 30px;
    font-weight: bold;
    color: var(--green);
}

.nav-item{
    margin-left: 5%;
    margin-right: 5%;
}