#content {
    min-height: calc(100vh - 40px);
}

.nav-custom {
    background-color: #ef233c;
}

.nav-custom .navbar-brand, .nav-custom .nav-link {
    color: whitesmoke;
}

.text {
    text-align: center;
}