
:root {
    /* CSS HEX */
    --imperial-red: #ef233c;
    --honeydew: #f1faeeff;
    --powder-blue: #a8dadcff;
    --darker-green: #4f772d;
    --green: #b5c99a;
    --light-green: #cfe1b9;
}


#our_work_header{
    font-family: 'Libre Bodoni', serif;
    font-size: 70px;
    color: var(--darker-green);
}

.h {
    font-size: 50px;
    font-family: 'Libre Bodoni', serif;
    color: var(--darker-green);
}

h4 {
    font-family: 'Libre Bodoni', serif;
    color: var(--darker-green);
}
.nav-item {
    margin-left: 3%;
    margin-right: 3%;
}